*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}
/*.container {
    background-color: #0A22F4;
    max-width: 1920px;
    margin: auto;
}*/